<h1>Modifier Book</h1>

{{ form_start(formulaire_edit_book) }}
{{ form_widget(formulaire_edit_book) }}
{{ form_end(formulaire_edit_book) }}

<a href="{{ path('app_book_liste_from_db') }}">Retour vers la liste</a>
